$cor-1: #fff;
$cor-2: #000;
$cor-3: #888;
$cor-4: #fab427;
$cor-5: #e0a225;
$cor-6: #cfcfcf;
$cor-7: #999;
$cor-8: rgba(255, 255, 255, 0.888);
$cor-9: rgba(255, 255, 255, 0.3);
$cor-10: rgb(250, 250, 250);
$cor-11: rgba(255, 255, 255, 0.96);
$cor-12: #ccc;
$cor-13: rgba(0, 0, 0, 0.02);
$cor-14: #555;
$cor-15: #eee;
$cor-16: #333;
$cor-17: rgba(0, 0, 0, 0.06);
$cor-18: rgba(0, 0, 0, 0.084);
$cor-19: rgba(255, 255, 255, 0.5);
$cor-20: rgba(153, 153, 153, 0.342);
$cor-21: #ddd;
$cor-22: #48d05f;
$cor-23: #35af4a;
