@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@import "colors.scss";
$width-area: 1300px;
$padding-area: 8%;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: $cor-10;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}
.loader-content {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: $cor-11;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  opacity: 0;
  transition: all 0.2s;
  /* flex-direction: column; */
}
.display {
  opacity: 1;
  z-index: 500;
}
.loader-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: ring 2s linear infinite;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px $cor-9;
  }
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 3px 2px $cor-4;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 3px 2px $cor-4;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 3px 2px $cor-4;
  }
}
.loader-text {
  color: $cor-4;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 100px;
  animation: text 2s ease-in-out infinite;
}
@keyframes text {
  50% {
    color: $cor-1;
  }
}
.container {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}
.container-area {
  width: $width-area;
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}
.models {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.header {
  height: 75px;
  background: $cor-1;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 3px 10px $cor-13;
}
.menu-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $width-area;
  background: $cor-1;
}
.logo {
  display: block;
  height: 55px;
  font-size: 2rem;
  font-weight: 600;

  img {
    height: 100%;
  }
}
#checkbox {
  display: none;
}
.menu_hamburger {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  z-index: 99;
}
.line {
  position: absolute;
  width: 20px;
}
.line-main::before,
.line-main::after,
.line-split::before,
.line-split::after {
  content: "";
  position: absolute;
  width: inherit;
  height: 2px;
  border-radius: 5px;
  background: $cor-4;
  transition: transform 0.5s;
}
.line-main::before {
  transform: translateY(-7px);
}
.line-main::after {
  transform: translateY(7px);
}
.line-split::before,
.line-split::after {
  width: 10px;
  transition: transform 0.5s, opacity 0.5s;
}
.line-split::after {
  transform: translateX(10px);
}
#checkbox:checked ~ .line-main::before {
  transform: rotate(45deg);
}
#checkbox:checked ~ .line-main::after {
  transform: rotate(-45deg);
}
#checkbox:checked ~ .line-split::before {
  transform: translateX(-10px);
  opacity: 0;
}
#checkbox:checked ~ .line-split::after {
  transform: translateX(20px);
  opacity: 0;
}
.menu ul {
  display: flex;
  list-style: none;

  a {
    text-decoration: none;
    color: inherit;
    margin: 5px 10px;
    position: relative;
    padding-bottom: 6px;
    display: block;
    font-size: 0.85rem;
    font-weight: 500;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0%;
      height: 1px;
      background: $cor-4;
      transition: 0.2s ease-out;
    }
  }
}
.menu ul a:hover::after,
.menu .active::after {
  left: 0%;
  width: 100%;
}
.menuMobile-area {
  display: none;
}
.container-menu-mobile {
  display: none;
  line-height: 46px;
  height: 45px;
  cursor: pointer;
}
.menu-openner span,
.fa-cart-shopping {
  color: $cor-4;
  font-size: 1.2rem;
}
.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 rgb(250 180 39 / 50%);
  animation: pulse 2s infinite;
  border-radius: 50%;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(250 180 39 / 50%);
  }
  70% {
    box-shadow: 0 0 0 10px rgb(250 180 39 / 0%);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(250 180 39 / 0%);
  }
}
.fa-arrow-left {
  font-size: 1.6rem;
  color: $cor-4;
}
.menu-closer {
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  display: none;
  font-size: 1.4rem;
}
aside {
  background-color: $cor-1;
  position: sticky;
  border-radius: 15px;
  width: 0%;
  transition: all ease 0.5s;
  overflow-x: hidden;
  box-shadow: 0px 5px 10px $cor-13;
}
.success {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $cor-14;
  padding: 35px;
  flex-direction: column;

  .pedido-finalizado {
    display: flex;
    align-items: center;
  }

  span {
    font-size: 14px;
    padding: 10px 0 0 0;
  }
}
aside.show {
  width: 27%;
}
.cart--area {
  padding: 30px;
}
main {
  flex: 1;
}
.titulo--h1 {
  font-weight: 300;
  margin-bottom: 15px;
  text-align: center;
}
h1 {
  font-weight: 600;
}
.pizza-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pizza-item {
  text-align: center;
  width: 250px;
  margin: 8px;
  padding: 0 10px;
  background: $cor-10;
  border-radius: 15px;
  box-shadow: 0px 5px 10px $cor-17;
  transition: all ease 0.2s;
  z-index: 1;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 5px 15px $cor-18;
    background-color: $cor-1;
  }

  a {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
  }
}
.pizza-item--img {
  width: 200px;
  height: 200px;
  margin: 35px 10px 0;
  background-color: $cor-15;
  border-radius: 100px;
  box-shadow: 0px 10px 50px $cor-13;
  z-index: -1;

  img {
    width: 100%;
    height: auto;
  }
}
.pizza-item--add {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: $cor-4;
  text-align: center;
  color: $cor-1;
  font-size: 22px;
  cursor: pointer;
  margin-top: -25px;
  font-weight: 600;
  transition: all ease 0.3s;
}
.pizza-item--price {
  font-size: 15px;
  color: $cor-16;
  margin-top: 5px;
}
.pizza-item--name {
  width: 200px;
  font-size: 1.2rem;
  font-weight: bold;
  color: $cor-16;
  margin: 5px 10px;
}
.pizza-item--desc {
  width: 200px;
  font-size: 0.75rem;
  color: $cor-14;
  padding: 10px 10px 20px;
}
.pizzaWindowArea {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $cor-19;
  display: none;
  transition: all ease 0.5s;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 99;
}
.pizzaWindowBody {
  width: 900px;
  background-color: $cor-1;
  border-radius: 10px;
  box-shadow: 0px 10px 25px $cor-20;
  display: flex;
  margin: 20px 0px;
}
.pizzaWindowBody.modal {
  padding: 10px 50px;
}
.pizzaBig {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 350px;
    width: auto;
  }
}
.pizzaBig--back {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: $cor-2;
}
.pizzaInfo {
  flex: 1;
  padding-bottom: 50px;

  h1 {
    margin-top: 50px;
  }

  .pizzaInfo--desc {
    font-size: 15px;
    color: $cor-7;
    margin-top: 10px;
    width: 90%;
  }
}
// .pizzaInfo .pizzaInfo--desc {
//   //testar dentro
//   font-size: 15px;
//   color: $cor-7;
//   margin-top: 10px;
//   width: 90%;
// }
.pizzaInfo--sector {
  color: $cor-12;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.pizzaInfo--sizes {
  display: inline-flex;
  border-radius: 10px;
  overflow: hidden;
}
.pizzaInfo--size {
  padding: 10px 15px;
  color: $cor-2;
  background-color: $cor-15;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $cor-12;
  }

  span {
    font-size: 12px;
    color: $cor-7;
    font-weight: normal;
  }
}
.pizzaInfo--size.selected {
  background-color: $cor-4;
  color: $cor-1;

  span {
    color: $cor-1;
  }
}
.pizzaInfo--price {
  display: flex;
  align-items: center;
}
.pizzaInfo--actualPrice {
  font-size: 28px;
  width: 30%;
  margin-right: 30px;
}
.pizzaInfo--qtarea {
  display: inline-flex;
  background-color: $cor-15;
  border-radius: 10px;
  height: 30px;

  button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: $cor-16;
  }
}
.pizzaInfo--qt {
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 5px;
  color: $cor-2;
}
.pizzaInfo--addButton {
  margin-top: 30px;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: $cor-4;
  color: $cor-1;
  display: inline-block;
  cursor: pointer;
  margin-right: 30px;
  transition: all 0.3s;

  &:hover {
    background-color: $cor-5;
  }
}
.pizzaInfo--cancelButton {
  display: inline-block;
  cursor: pointer;
}
.pizzaInfo--cancelMobileButton {
  display: none;
  height: 40px;
  line-height: 40px;
  margin-bottom: 5px;
  color: $cor-3;
  font-weight: bold;
}
.cart {
  margin-bottom: 20px;
}
.cart--item {
  display: flex;
  align-items: center;
  margin: 10px 0;

  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
.cart--item-nome {
  flex: 1;
}
.cart--item--qtarea {
  display: inline-flex;
  background-color: $cor-15;
  border-radius: 10px;
  height: 30px;

  button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: $cor-16;
  }
}
.cart--item--qt {
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 5px;
  color: $cor-2;
}
.cart--totalitem {
  padding: 15px 0;
  border-top: 1px solid $cor-21;
  color: $cor-7;
  display: flex;
  justify-content: space-between;
  font-size: 15px;

  span:first-child {
    font-weight: bold;
  }
}
.cart--totalitem.big {
  font-size: 20px;
  color: $cor-2;
  font-weight: bold;
}
.cart--finalizar {
  padding: 20px 30px;
  border-radius: 13px;
  background-color: $cor-22;
  color: $cor-1;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  transition: all ease 0.2s;

  &:hover {
    background-color: $cor-23;
  }
}
.success-img {
  color: $cor-22;
  font-size: 3rem;
  margin-right: 20px;
}
footer {
  display: block;
  height: 100px;
  font-size: 0.7rem;
  background-color: $cor-1;
  text-align: center;
  line-height: 100px;
  font-weight: 500;

  a {
    position: relative;
    text-decoration: none;
    color: $cor-7;
    padding-bottom: 2px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0%;
      height: 1px;
      background: $cor-6;
      transition: 0.3s ease-out;
    }

    &:hover::after {
      left: 0%;
      width: 100%;
    }
  }
}
@media (max-width: 1300px) {
  .menu-area,
  .container-area {
    padding: 0 $padding-area;
  }
}
@media (max-width: 1250px) {
  aside.show {
    width: 35%;
  }
}
@media (max-width: 979px) {
  aside.show {
    width: 50%;
  }
}
@media (max-width: 820px) {
  body {
    background: $cor-1;
    flex-direction: column;
    justify-content: center;
  }
  .header {
    box-shadow: none;
  }
  .pizza-item {
    width: 280px;
    background: $cor-1;
    margin-top: 15px;
  }
  .container-menu-mobile {
    display: flex;
  }
  .menu_hamburger {
    display: inline-flex;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 98;
    display: flex;
    justify-content: center;
    width: 0px;
    height: 100vh;
    padding-top: 75px;
    background: $cor-8;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all ease 0.5s;

    ul {
      flex-direction: column;
      padding-right: 40px;
    }

    li {
      display: block;
      padding: 8px;
      text-align: center;
    }
  }
  .menu-opened {
    width: 200px !important;
  }
  .menuMobile-area {
    display: flex;
    z-index: 99;
    margin-right: 15px;
  }
  aside {
    width: auto;
    position: fixed;
    left: 100vw;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease 0.5s;
  }
  aside.show {
    width: auto;
    z-index: 99;
  }
  .cart--area {
    width: 100vw;
  }
  .cart--item--qtarea {
    height: 45px;

    button {
      padding: 0px 18px;
    }
  }
  .cart--item--qt {
    line-height: 45px;
    font-size: 15px;
  }
  .menu-closer {
    display: block;
    margin-bottom: 25px;
  }
  .pizzaWindowArea {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .success {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 25px 20px;

    .pedido-finalizado {
      padding-top: 30px;
      flex-direction: column;
    }

    span {
      display: block;
      font-size: 12px;
      padding: 15px 0;
    }
  }
  .success-img {
    margin: 30px 20px 0;
    line-height: 63px;
  }
  .pizzaWindowBody {
    width: 100vw;
    display: block;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    z-index: 99;
  }
  .pizzaWindowBody.modal {
    padding: 25px 40px;
    height: 100vh;
  }
  .pizzaBig img {
    width: 60%;
    height: auto;
  }
  .pizzaInfo h1 {
    margin-top: 5px;
    font-size: 22px;
  }
  .pizzaInfo {
    .pizzaInfo--desc {
      font-size: 12px;
    }
  }
  .pizzaInfo--sector {
    font-size: 12px;
    margin-top: 20px;
  }
  .pizzaInfo--price {
    justify-content: space-between;

    .pizzaInfo--actualPrice {
      font-size: 22px;
    }
  }
  .pizzaInfo--size {
    padding: 10px;
    font-size: 12px;

    span {
      font-size: 10px;
    }
  }
  .pizzaInfo--qtarea {
    height: 40px;

    button {
      font-size: 23px;
      padding: 0px 13px;
    }
  }
  .pizzaInfo--qt {
    line-height: 40px;
    font-size: 15px;
  }
  .pizzaInfo--addButton {
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 18px auto;
    padding: 15px 20px;
    border-radius: 10px;
  }
  .pizzaInfo--cancelButton {
    display: none;
  }
  .pizzaInfo--cancelMobileButton {
    display: block;
  }
}
